@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* need this line to set size of stars width and height equally */
    --star-size: 16px; 
}

* {
    /* color: #512051; */
    font-family: "League Spartan", sans-serif;
}

/* set size of stars */
.ratings-stars img{
    margin-right:5px ;
    width: var(--star-size);
    height: var(--star-size);
}

.attribution{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
    
    & a {
        color: hsl(228, 45%, 44%);
    }
}
